# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that Data Scientists use.* 
List commonly used libraries used by Data Scientists
* Few examples of Evaluating arithmetic expressions in Pythons.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Scipy.
2. Pandas.
3. SciKit-Learn.

| Data Science Tools |
| ------------------ 
| Apache Spark       ||
| TensorFlow        
| Keras              |. R

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
res1 = 2 ** 7
print(res1)
# Answer: 128

128

In [4]:
 res2 = (6 + (22 % 4)) * ((8 // 3) + (2 ** 2))
print(res2)
# Answer: 48

48

In [5]:
import math
res3 = math.floor((math.pi + 10) / 7)
print(res3)
# Answer: 1

1

 This a simple arithmetic expression to mutiply then add integers

In [6]:
# Simple Arithmetic Expression
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
round(200 / 60, 2)

3.33

## Author
Krishna Vikas